
@import url(https://fonts.googleapis.com/css?family=Righteous);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  }



button {
  font-size: calc(10px + 2vmin);
}



h1 {
  display: inline-block;
  color: white;
  font-family: 'Righteous', serif;
  font-size: 6vw; 
  text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
  }
  h1:after {
    content: attr(data-shadow);
    position: absolute;
    top: .06em; left: .06em;
    z-index: -1;
    text-shadow: none;
    background-image:
      linear-gradient(
        45deg,
        transparent 45%,
        rgba(57, 32, 182, 0.278) 45%,
        rgb(18, 159, 214) 55%,
        transparent 0
        );
    background-size: .1em .1em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    animation: shad-anim 15s linear infinite;
    }
    @keyframes shad-anim {
      0% {background-position: 0 0}
      0% {background-position: 100% -100%}
      }