.navContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 11vh;
    background-color:#e5f2f3;
}
.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 9vh;
}
.buttons{
    margin-left: 3vh;
    margin-right: 3vh;
    font-size:2.5vh ;
    transition: 0.2s;
    color: rgb(0, 0, 0);
}
.buttons:hover{
    cursor: pointer;
    color: rgb(101, 167, 225);
}
.buttonOn{
    cursor: pointer;
    margin-left: 3vh;
    margin-right: 3vh;
    font-size:2.5vh;
    color: rgb(101, 167, 225);
}
.left{
    height: 9vh;
}
#img{
    margin-top: 1vh;
    margin-left: 7vh;
    height: 7vh;
}

